:root{
    --mobile-size :375px;
    --desktop-size:1440px;
    --clr-green:hsl(75, 94%, 57%);
    --clr-white:hsl(0, 0%, 100%);
    --clr-gray:hsl(0, 0%, 20%);
    --clr-dark-gray:hsl(0, 0%, 12%);
    --clr-dark:hsl(0, 0%, 8%);
    --font-size:14px;
    --weight-400:400;
    ---weight-500:500;
    ---weight-600:600;
    --weight-700:700;
    --brd-radius:10px;
    
}
.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--clr-dark);

}
img{
    max-width: 100%;
    display: block;
}
a{
    text-decoration: none;
}