:root{
    --mobile-size :375px;
    --desktop-size:1440px;
    --clr-green:hsl(75, 94%, 57%);
    --clr-white:hsl(0, 0%, 100%);
    --clr-gray:hsl(0, 0%, 20%);
    --clr-dark-gray:hsl(0, 0%, 12%);
    --clr-dark:hsl(0, 0%, 8%);
    --font0s
}