*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
	--background: hsl(257, 40%, 49%);
    --text-color:- Violet: hsl(257, 40%, 49%)

}
body{
    position: relative;
    min-height: 100dvh;
    padding: 80px;
    color: var(--text-color);
    background-color:var(--background);
    background-image:url(../images/bg-desktop.svg);
    background-repeat: no-repeat;
    object-fit: cover;
}
.logo{
    transform:  scale(0.76);;
}