@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

@font-face {
    font-family: 'Big Shoulder Display';
    src: url(./assets/fonts/Big_Shoulders_Display/BigShouldersDisplay-VariableFont_wght.ttf);
}
.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
